/* *************** */
/* REUSABLE STYLES */
/* *************** */

.container {
  margin: 0 auto;
  max-width: 110rem;
  /* background-color: #fff; */
}

.grid {
  display: grid;
}

.grid--h-v-centered {
  align-items: center;
  justify-content: center;
}

.grid--2-col {
  grid-template-columns: auto 1fr;
}

.grid--2-col--h-end {
  align-items: end;
}

.grid--2-col--fixed {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.grid--2-row {
  grid-template-rows: 1fr 2fr;
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--justify-start {
  align-items: center;
  justify-content: flex-start;
}

.flex--dir-col {
  flex-direction: column;
}

.border-top {
  display: inline-block;
  content: "";
  width: 100%;
  border-top: 0.1rem solid #999;
  margin-bottom: 2rem;
}

.border-bottom {
  display: inline-block;
  content: "";
  width: 100%;
  border-bottom: 0.1rem solid #999;
  margin-top: 2rem;
}

.section-border {
  display: inline-block;
  content: "";
  width: 100%;
  border-top: 0.1rem solid #999;
  padding: 0 2rem;
}

.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}
