* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ************** */
/* DEFAULT STYLES */
/* ************** */

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  color: #111;
}

/* .page-container {
  background-color: #ddd;
} */

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, #368a44);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.2rem;
  transition: background-size 0.4s;
}

a:hover,
a:focus {
  background-size: 100% 0.2rem;
  color: #368a44;
}

li {
  list-style: none;
}

/* *************** */
/* REUSABLE STYLES */
/* *************** */

.container {
  margin: 0 auto;
  max-width: 110rem;
  /* background-color: #fff; */
}

.grid {
  display: grid;
}

.grid--h-v-centered {
  align-items: center;
  justify-content: center;
}

.grid--2-col {
  grid-template-columns: auto 1fr;
}

.grid--2-col--h-end {
  align-items: end;
}

.grid--2-col--fixed {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.grid--2-row {
  grid-template-rows: 1fr 2fr;
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--justify-start {
  align-items: center;
  justify-content: flex-start;
}

.flex--dir-col {
  flex-direction: column;
}

.border-top {
  display: inline-block;
  content: "";
  width: 100%;
  border-top: 0.1rem solid #999;
  margin-bottom: 2rem;
}

.border-bottom {
  display: inline-block;
  content: "";
  width: 100%;
  border-bottom: 0.1rem solid #999;
  margin-top: 2rem;
}

.hide {
  display: none;
}

/* ************** */
/* HEADING TYPOGRAPHY STYLES */
/* ************** */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #358643;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heading-primary {
  font-size: 7.2rem;
  /* text-shadow: #ddd 0.3rem 0.3rem; */
}

.heading-secondary {
  font-size: 3rem;
}

.heading-tertiary {
}

.sub-heading {
  text-align: center;
  color: #999;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  /* letter-spacing: 0.2rem; */
  margin-bottom: 6.2rem;
}

/* ************** */
/* HEADER & NAV STYLES */
/* ************** */

header {
  padding: 2rem 2rem;
  background-color: #111;
  margin-bottom: 9.6rem;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.header {
  box-shadow: 0 0 2rem 4rem rgba(17, 17, 17, 0.1);
}

.logo-box {
  background-color: #fff;
  height: 11rem;
  width: 11rem;
  /* border: 0.3rem solid #111; */
  border-radius: 50%;
  position: relative;
  transition: all ease-in-out 0.4s;
}

.logo-box--inner {
  display: inline-block;
  content: "";
  width: 10.8rem;
  height: 10.8rem;
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-box:hover,
.logo-box:focus {
  background-color: #368a44;
}

.logo-img {
  width: 4.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  transition: all 0.3s;
  animation: 0.3s ease-in 0 1 normal forwards;
  font-weight: 500;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* color: #368a44; */
}

/* ************** */
/* HERO SECTION STYLES */
/* ************** */

.section-hero {
  padding: 0 2rem;
  margin-bottom: 9.6rem;

  background-image: url(img/stock/html.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-text {
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}

.hero-img img {
  border-radius: 0.5rem;
  width: 100%;
}

/* ************** */
/* SERVICES SECTION STYLES */
/* ************** */

.section-services {
  padding: 0 2rem;
  margin-bottom: 7.6rem;
}

.service-box {
  padding: 2rem;
  min-height: 40rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0rem 5rem rgba(51, 51, 51, 0.1);
  text-align: center;
}

.service-box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-box p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

/* ************** */
/* FOOTERS */
/* ************** */

.footer {
  text-align: center;
  color: #999;
  letter-spacing: 0.5rem;
}

.copyright {
  padding: 0 2rem;
  margin-bottom: 4.8rem;
}
