* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ************** */
/* DEFAULT STYLES */
/* ************** */

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.3rem;
  color: #111;
  background-color: #fff;
  /* background-image: linear-gradient(
    to right,
    #111,
    #141414,
    #222,
    #141414,
    #181818
  ); */
  /* padding-top: 21.4rem; */
}

a:link,
a:visited {
  color: #111;
  text-decoration: none;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, #368a44);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 100% 2px;
  color: #368a44;
}

li {
  list-style: none;
}

/* *************** */
/* REUSABLE STYLES */
/* *************** */

.container {
  margin: 0 auto;
  max-width: 110rem;
}

.grid {
  display: grid;
}

.grid--h-v-centered {
  align-items: center;
  justify-content: center;
}

.grid--2-col {
  grid-template-columns: auto 1fr;
}

.grid--2-col--h-end {
  align-items: end;
}

.grid--2-col--fixed {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.grid--2-row {
  grid-template-rows: 1fr 2fr;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************** */
/* HEADING TYPOGRAPHY STYLES */
/* ************** */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #358643;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.heading-primary {
  font-size: 7.2rem;
  text-shadow: #ddd 0.3rem 0.3rem;
}

.heading-secondary {
}

.heading-tertiary {
}

.sub-heading {
  text-align: center;
  color: #999;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 4.8rem;
}

/* ************** */
/* HEADER & NAV STYLES */
/* ************** */

header {
  padding: 4.8rem 2rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.1);
  margin-bottom: 9.6rem;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.logo-box {
  /* margin-bottom: -0.65rem; */
}

.logo-img {
  width: 4.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-left: 9.6rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  transition: all 0.3s;
  animation: 0.3s ease-in 0 1 normal forwards;
  font-weight: 500;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* color: #368a44; */
}

/* ************** */
/* HERO SECTION STYLES */
/* ************** */

.section-hero {
  padding: 0 2rem;
  margin-bottom: 9.6rem;

  background-image: url(img/stock/html.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-text-box h1 {
}

.hero-text {
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}

.hero-img {
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: red; */
  /* box-shadow: 0 0 5rem rgba(51, 51, 51, 0.1); */
}

.hero-img img {
  border-radius: 0.5rem;
  width: 100%;
}

/* ************** */
/* SERVICES SECTION STYLES */
/* ************** */

.section-services {
  padding: 0 2rem;
  /* box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.1); */
}

.service-box {
  padding: 2rem;
  background-color: #fff;
  /* border: 0.3rem solid #eee; */
  border-radius: 0.5rem;
  box-shadow: 0 0rem 5rem rgba(51, 51, 51, 0.1);
  text-align: center;
  /* background: radial-gradient(#333 ); */
  transition: all 0.3s;
}

/* .service-box:hover {
  box-shadow: 0 0 5rem #ffffff1f;
  transform: scale(110%); 
} */

.service-box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-box p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  line-height: 1.5;
}

/* ************** */
/* FOOTERS */
/* ************** */

.footer {
  padding: 2rem;
  text-align: center;
  color: #999;
  letter-spacing: 0.5rem;
  /* box-shadow: 0 -1rem 100rem rgba(51, 51, 51, 0.05); */
}

.copyright {
  padding: 2rem 0;
}

.border {
  display: inline-block;
  content: "";
  width: 100%;
  border-top: 0.1rem solid #999;
  margin-bottom: 2rem;
}
